@model Libro

<tr>
    <td>@Model.BookID</td>
    <td>@Model.BTitle</td>
    <td>@Model.BPageNumber</td>
    <td>@Model.ISBN</td>
    <td>@Model.BCategory</td>
    <td>@Model.BClassification</td>
    <td>@Model.BPrice</td>
    <td>@Model.BAuthorFirst</td>
    <td>@Model.BAuthorMid</td>
    <td>@Model.BAuthorLast</td>
    <td>@Model.BPublisher</td>
    <td>
        <form id="@Model.BookID" asp-page="/Cart" method="post" asp-page-handler="onPost">
            <input type="hidden" asp-for="BookID" />

            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()"/>

            <span class="card-text">
                <button type="submit" class="btn-dark">
                    Add to Cart
                </button>
            </span>
        </form>
    </td>
</tr>