@model Libro

<tr>
    <td>@Model.BookID</td>
    <td>@Model.BTitle</td>
    <td>@Model.BPageNumber</td>
    <td>@Model.ISBN</td>
    <td>@Model.BCategory</td>
    <td>@Model.BClassification</td>
    <td>@Model.BPrice</td>
    <td>@Model.BAuthorFirst</td>
    <td>@Model.BAuthorMid</td>
    <td>@Model.BAuthorLast</td>
    <td>@Model.BPublisher</td>
</tr>